<div id="posts">
    <h2>All posts</h2>
    <ul>
        <% if (posts.length > 0) { %>
            <% posts.forEach(post=> { %>
                <li>
                    <a class="singlepost" href="/singlepost/<%= post.id %>">
                        <span class="post-header">
                            <h3 class="title">
                                <%= post.title %>
                            </h3>
                        </span>
                        <p class="post-body">
                            <%= post.body %>
                        </p>
                        <span class="post-footer">
                            <p class="likes">likes: <%= post.likes %></p>
                        </span>
                    </a>
                    <% if (post.likes < 1) { %>
                        <button class="like" data-like="<%= post.id %>" height="40px">LIKE</button>
                    <% } else { %>
                        <button disabled>LIKE</button>
                    <% } %>
                </li>
            <% }) %>
        <% } else { %>
            <p>You did not post anything...</p>
        <% } %>
    </ul>
</div>


<script>
    const likereq = document.querySelector('button.like');
    likereq.addEventListener('click', (e) => {
        const endpoint = `/posts/${likereq.dataset.like}`;
        fetch(endpoint, {
            method: 'PUT',
        }).then(window.location.href = '/posts')
    });
</script>