<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./styles.ejs'); %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/nav.ejs') %>
    <div class="posts list">
        <h2>All posts</h2>ˇ
        <% if (posts.length != 0) { %>
            <% posts.forEach(post=>{%>
                <h3>
                    <%= post.title %>
                </h3>
                <p>
                    <%= post.body %>
                </p>
            <% }) %>
        <% } else { %>
            <h3>You did not post anything</h3>
        <% } %>
    </div>
    <%- include('partials/footer.ejs') %>
</body>

</html>